---
import Rating from '../Rating.astro';

interface Props {
	userId: number;
	username: string;
	points: number;
	wins: number;
	losses: number;
	winRate: number;
	position: number;
}

const { userId, username, points, wins, losses, winRate, position } = Astro.props;
const image = `https://ui-avatars.com/api/?name=${username}&background=random&size=128`;
const rating = 1 + (winRate / 100) * 4;
---

<a href={`/duelists/${userId}`} class='card bg-base-300 w-full shadow-xl cursor-pointer max-w-sm hover:bg-neutral transition-all duration-200 ease-in-out'>
	<div class='flex flex-col items-center gap-4'>
		<figure>
			<img
				src={image}
				alt={username}
				class='w-24 h-24 rounded-full mt-8'
				transition:name={`img-duelist-${userId}`}
				transition:animate='none'
			/>
		</figure>
		<Rating
			rating={rating}
			transition:name={`rating-duelist-${userId}`}
			transition:animate='none'
		/>
	</div>
	<div class='card-body text-center'>
		<h2
			class='font-bold text-2xl'
			transition:name={`title-duelist-${userId}`}
			transition:animate='none'
		>
		#{position} {username}
		</h2>
		<p class='text-sm font-bold'>Points: {points}</p>
		<p class='text-sm text-success'>Wins: {wins}</p>
		<p class='text-sm text-error'>Losses: {losses}</p>
		<p class='text-sm'>Win Rate: {winRate.toFixed(2)}%</p>
	</div>
</a>
