---
import type { Duelist } from '@types';
let errorMessage = '';
let duelist: Duelist | null = null;

try {
	const res = await fetch(`${import.meta.env.PUBLIC_API_URL}/stats/player-of-the-week`, {
		cache: 'no-store',
	});
	const responseJson = await res.json();
	if (responseJson.length > 0) {
		const d = responseJson[0];
		duelist = {
			userId: d.userId,
			username: d.username,
			points: Number(d.points),
			wins: Number(d.wins),
			losses: Number(d.losses),
			winRate: Math.round((Number(d.wins) / (Number(d.wins) + Number(d.losses))) * 100),
			position: d.position ?? 1,
		};
	} else {
		errorMessage = 'No duelist of the week found.';
	}
} catch (err) {
	console.error('Token validation error:', err);
	errorMessage = 'Failed to fetch duelist of the week. Please try again later.';
}

const banListName = 'Global';
const season = import.meta.env.PUBLIC_DEFAULT_SEASON;
---

<div>
	{
		duelist && (
			<a
				href={`/duelists/${duelist.userId}/${banListName}?username=${duelist.username}&season=${season}`}
			>
				<div class="flex justify-center mt-8 bg-base-100">
					<div
						class="card shadow-xl px-6 py-4 flex flex-row items-center gap-4"
					>
						<img
							src="/icons/first-place-medal.svg"
							alt="Gold Medal"
							class="w-28"
						/>
						<div class="flex flex-col flex-1 min-w-0 gap-2">
							<span class="text-xs text-gray-400 truncate">Player of the Week</span>
							<span class="font-bold text-xl truncate">{duelist.username}</span>
							<div class="flex flex-row gap-4 justify-between text-base">
								<p title="Points" class="flex items-center gap-1 text-yellow-300"><img src="/icons/star.svg" alt="Points" class="w-6 h-6"/>{duelist.points}</p>
								<p title="Wins" class="flex items-center gap-1 text-green-300"> <img src="/icons/wins.svg" alt="Wins" class="w-6 h-6"/>{duelist.wins}</p>
								<p title="Losses" class="flex items-center gap-1 text-red-500"><img src="/icons/losses.svg" alt="Losses" class="w-6 h-6"/>{duelist.losses}</p>
								<p title="Win Rate" class="flex items-center gap-1 text-blue-500"><img src="/icons/percentage.svg" alt="Win Rate" class="w-6 h-6"/>{duelist.winRate.toFixed(0)}%</p>
							</div>
						</div>
					</div>
				</div>
			</a>
		)
	}
</div>
