---
import Layout from '@layouts/Layout.astro';
import News from '@sections/News';
import Live from '@sections/Live.svelte';
import Ranking from '@sections/Ranking';
import Features from '@sections/Features.astro';
import Download from '@sections/Download.astro';
import Faqs from '@sections/Faqs.astro';
import Crew from '@sections/Crew.astro';
import { RoomsWebSocketListener } from '@components/RoomsWebSocketListener';
import DuelistOfTheWeek from '@components/Cards/DuelistOfTheWeek.astro';
import LoveWrappedSpotlight from '@components/Wrapped/LoveWrappedSpotlight.astro';

const currentSeason = import.meta.env.PUBLIC_DEFAULT_SEASON;
const title = `Evolution YGO Season ${currentSeason}`;
const description = `Play Yu-Gi-Oh! online for free on Evolution YGO Season ${currentSeason}. Compatible with EDOPro, Koishi, and YGO Mobile. Join competitive rankings, participate in tournaments, and duel players worldwide!`;

const keywords = [
	'Yu-Gi-Oh online',
	'YGOPro',
	'EDOPro',
	'Koishi',
	'YGO Mobile',
	'free Yu-Gi-Oh',
	'online dueling',
	'card game',
	'competitive Yu-Gi-Oh',
	'Yu-Gi-Oh ranking',
	'Yu-Gi-Oh tournaments',
	`Season ${currentSeason}`,
	'Evolution YGO',
	'Evolution Server',
	'duel links alternative',
	'master duel alternative'
];
---

<Layout 
	title={title} 
	description={description}
	keywords={keywords}
	image="/banners/banner1.webp"
>
	<!-- <LightsOut client:only='react' /> -->
	<main class='w-full text-[white] text-xl leading-[1.6] mx-auto'>
		<h1
			class='text-4xl sm:text-5xl font-bold leading-none text-center mb-[1em] max-w-sm md:max-w-full pt-[1em]'
		>
			<!-- <p class='flex justify-center'><Eyes client:only='react' /></p> -->
			<span class='text-gradient'> {title} </span> 
		</h1>
		<LoveWrappedSpotlight />
		<News client:only='react' />
		<RoomsWebSocketListener client:only='react' />
		<Live client:only='svelte' />
		<DuelistOfTheWeek />
		<Ranking client:load />
		<Features />
		<Download />
		<Faqs />
		<Crew />
	</main>
</Layout>
