---
import { Icon } from "astro-icon/components";
import Modal from '@components/Modal.astro';
import { SignInForm, SignUpForm } from '@components/Auth';
import SettingsDialog from '@components/Settings/Modal.astro';
import AnnouncementsDropdown from './AnnouncementsDropdown.astro';
import menuItems from './menuItems';
---

<script>
	import { session } from '@stores/sessionStore';
	import { update, updateUser, setTheme, handleLogout, handleOpenSettings } from './helper';

	session.subscribe(() => {
		update();
		updateUser();
	});

	document.addEventListener('astro:page-load', () => {
		update();
		updateUser();
		setTheme();
		handleLogout();
		handleOpenSettings();
	});
</script>

<div class='navbar bg-base-100 sticky top-0 z-50'>
	<div class='navbar-start'>
		<div class='dropdown'>
			<div tabindex='0' role='button' class='btn btn-ghost lg:hidden'>
				<svg
					xmlns='http://www.w3.org/2000/svg'
					class='h-5 w-5'
					fill='none'
					viewBox='0 0 24 24'
					stroke='currentColor'
				>
					<path
						stroke-linecap='round'
						stroke-linejoin='round'
						stroke-width='2'
						d='M4 6h16M4 12h8m-8 6h16'></path>
				</svg>
			</div>
			<ul
				tabindex='0'
				class='menu menu-sm dropdown-content bg-base-300 rounded-box z-[1] mt-1 w-52 p-2 shadow'
			>
				{
					menuItems.map((item) =>
						item.submenu ? (
							<li>
								<a data-umami-event={item.trackEvent}>{item.name}</a>
								<ul class='p-2'>
									{item.submenu.map((subitem) => (
										<li>
											<a data-umami-event={subitem.trackEvent} href={subitem.href} target={subitem?.target}>
												{subitem.name}
											</a>
										</li>
									))}
								</ul>
							</li>
						) : (
							<li>
								<a data-umami-event={item.trackEvent} href={item.href} target={item?.target}>
									{item.name}
								</a>
							</li>
						),
					)
				}
			</ul>
		</div>
		<a href='/'><img src='/logo.svg' alt='logo' class='h-12 w-auto cursor-pointer' loading='lazy' decoding='async' fetchpriority='low'/></a>
	</div>
	<div class='navbar-center hidden lg:flex'>
		<ul class='menu menu-horizontal px-1'>
			{
				menuItems.map((item) =>
					item.submenu ? (
						<li>
							<details>
								<summary>
									{item.icon && <Icon name={item.icon} class='fill-current text-2xl'/>}
									{item.name}
								</summary>
								<ul class='p-2 w-48'>
									{item.submenu.map((subitem) => (
										<li>
											<a href={subitem.href} target={subitem?.target} data-umami-event={subitem.trackEvent}>
												{subitem.icon && <Icon name={subitem.icon} class='fill-current text-2xl'/>}
												{subitem.name}
											</a>
										</li>
									))}
								</ul>
							</details>
						</li>
					) : (
						<li>
							<a href={item.href} target={item?.target} data-umami-event={item.trackEvent}>
								{item.icon && <Icon name={item.icon} class='fill-current text-2xl'/>}
								{item.name}
							</a>
						</li>
					),
				)
			}
		</ul>
	</div>
	<div class='navbar-end'>
		<input
			type='checkbox'
			value='dracula'
			class='toggle theme-controller'
			id='button-navbar-theme'
			data-umami-event='navbar-click-theme'
		/>
		<AnnouncementsDropdown />
		<div class='dropdown dropdown-end' id='dropdown-navbar-profile' data-umami-event='navbar-click-profile-dropdown'>
			<div tabindex='0' role='button' class='btn btn-ghost btn-circle avatar'>
				<div class='w-8 rounded-full ring-primary ring-offset-base-100 ring ring-offset-2'>
					<img id='dropdown-navbar-avatar' alt='avatar' src='' loading='lazy' decoding='async' fetchpriority='low'/>
				</div>
			</div>
			<ul
				tabindex='0'
				class='menu menu-sm dropdown-content bg-base-300 rounded-box z-[1] mt-1 w-56 p-2 shadow'
			>
				<li class='text-lg font-bold text-center pt-2 pb-4' id='navbar-username'></li>
				<li>
					<a class='justify-between' id='dropdown-navbar-profile-link' data-umami-event='navbar-click-profile'>
						Profile
						<span class='badge badge-sm badge-primary'>New</span>
					</a>
				</li>
				<li><a id='button-navbar-settings' data-umami-event='navbar-click-settings'>Settings</a></li>
				<li><a id='button-navbar-logout' data-umami-event='navbar-click-logout'>Logout</a></li>
			</ul>
		</div>
	</div>
	<SettingsDialog />
	<Modal id='signin' open='Login' showButtons={false}>
		<SignInForm dialog='signin' slot='main' client:load />
	</Modal>
	<Modal id='signup' open='Register' showButtons={false}>
		<SignUpForm dialog='signup' slot='main' client:load />
	</Modal>
</div>
