---
interface Props {
	id: string;
	open: string;
	close?: string;
	showCloseButton?: boolean;
}

const { id, open, close = 'Close', showCloseButton = true } = Astro.props;
---

<button class='btn' onclick={`${id}.showModal()`}>{open}</button>
<dialog id={id} class='modal'>
	<div class='modal-box'>
		<img src='/logo.svg' alt='logo' class='h-16 w-auto mx-auto' />
		<div class='modal-action'>
			<div class='w-full'>
				<slot name='main' />
				{
					showCloseButton && (
						<div class='flex justify-end gap-2 mt-8'>
							<slot name='buttons' />
							<button class='btn btn-outline' onclick={`${id}.close()`}>
								{close}
							</button>
						</div>
					)
				}
			</div>
		</div>
	</div>
</dialog>
