---
const menuItems = [
	{
		name: 'News',
		href: '/news',
	},
	{
		name: 'Ranking',
		href: '/ranking',
		submenu: [
			{
				name: 'Submenu 1',
				href: '/submenu1',
				target: '_self',
			},
			{
				name: 'Submenu 2',
				href: '/submenu2',
				target: '_self',
			},
		],
	},
	{
		name: 'Feature',
		href: '/feature',
	},
	{
		name: 'Download',
		href: '/download',
	},
	{
		name: 'Tournaments',
		href: '/tournaments',
	},
	{
		name: 'Status',
		href: 'https://status.evolutionygo.com',
		target: '_blank',
	},
];
---

<div class='navbar bg-base-100 sticky top-0 z-50'>
	<div class='navbar-start'>
		<div class='dropdown'>
			<div tabindex='0' role='button' class='btn btn-ghost lg:hidden'>
				<svg
					xmlns='http://www.w3.org/2000/svg'
					class='h-5 w-5'
					fill='none'
					viewBox='0 0 24 24'
					stroke='currentColor'
				>
					<path
						stroke-linecap='round'
						stroke-linejoin='round'
						stroke-width='2'
						d='M4 6h16M4 12h8m-8 6h16'></path>
				</svg>
			</div>
			<ul
				tabindex='0'
				class='menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow'
			>
				{
					menuItems.map((item) =>
						item.submenu ? (
							<li>
								<a>{item.name}</a>
								<ul class='p-2'>
									{item.submenu.map((subitem) => (
										<li>
											<a href={subitem.href} target={subitem?.target}>{subitem.name}</a>
										</li>
									))}
								</ul>
							</li>
						) : (
							<li>
								<a href={item.href} target={item?.target}>{item.name}</a>
							</li>
						),
					)
				}
			</ul>
		</div>
		<!-- <img src='/logo.svg' alt='logo' class='hidden sm:block h-16 w-auto cursor-pointer' onclick={`window.location.href = '/'`}/> -->
		<img src='/logo.svg' alt='logo' class='h-16 w-auto cursor-pointer' onclick={`window.location.href = '/'`}/>
	</div>
	<div class='navbar-center hidden lg:flex'>
		<ul class='menu menu-horizontal px-1'>
			{
				menuItems.map((item) =>
					item.submenu ? (
						<li>
							<details>
								<summary>{item.name}</summary>
								<ul class='p-2 w-48'>
									{item.submenu.map((subitem) => (
										<li>
											<a href={subitem.href} target={subitem?.target}>{subitem.name}</a>
										</li>
									))}
								</ul>
							</details>
						</li>
					) : (
						<li>
							<a href={item.href} target={item?.target}>{item.name}</a>
						</li>
					),
				)
			}
		</ul>
	</div>
	<div class='navbar-end'>
		<button class='btn btn-ghost btn-circle'>
			<div class='indicator'>
				<svg
					xmlns='http://www.w3.org/2000/svg'
					class='h-6 w-6'
					fill='none'
					viewBox='0 0 24 24'
					stroke='currentColor'
				>
					<path
						stroke-linecap='round'
						stroke-linejoin='round'
						stroke-width='2'
						d='M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9'
					></path>
				</svg>
				<span class='badge badge-xs badge-primary indicator-item'></span>
			</div>
		</button>
		<div class='dropdown dropdown-end'>
			<div tabindex='0' role='button' class='btn btn-ghost btn-circle avatar'>
				<div class='w-8 rounded-full ring-primary ring-offset-base-100 ring ring-offset-2'>
					<img
						alt='Tailwind CSS Navbar component'
						src='https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp'
					/>
				</div>
			</div>
			<ul
				tabindex='0'
				class='menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-48 p-2 shadow'
			>
				<li>
					<a class='justify-between'>
						Profile
						<span class='badge badge-sm badge-primary'>New</span>
					</a>
				</li>
				<li><a>Settings</a></li>
				<li><a>Logout</a></li>
			</ul>
		</div>
	</div>
</div>
