---
import { Icon } from 'astro-icon/components';
import type { CrewMember } from '@types';

const title = 'Meet the Crew';

const members: CrewMember[] = [
	{
		name: 'diangogav',
		role: 'Project Lead',
		picture: '/avatar.webp',
		links: [
			{
				icon: 'mdi:github',
				url: 'https://github.com/diangogav',
			},
		],
	},
	{
		name: 'leip1493',
		role: 'Developer',
		picture: '/avatar.webp',
		links: [
			{
				icon: 'mdi:github',
				url: 'https://github.com/leip1493',
			},
			{
				icon: 'mdi:linkedin',
				url: 'https://www.linkedin.com/in/luis-enrique-izquierdo-pe%C3%B1a/',
			}
		],
	},
	{
		name: 'termitaklk',
		role: 'Developer',
		picture: '/avatar.webp',
		links: [
			{
				icon: 'mdi:github',
				url: 'https://github.com/termitaklk',
			},
		],
	},
	{
		name: 'leandrogavidia',
		role: 'Designer',
		picture: '/crew/leandrogavidia.webp',
		links: [
			{
				icon: 'mdi:twitter',
				url: 'https://x.com/androgavidia',
			},
			{
				icon: 'mdi:telegram',
				url: 'https://t.me/leandrogavidia',
			}
		],
	},
	{
		name: 'Juan D. Lopez',
		role: 'Community Manager',
		picture: '/avatar.webp',
		links: [
			{
				icon: 'mdi:discord',
				url: 'https://discord.gg/n8wYKDZg',
			},
			{
				icon: 'ic:baseline-tiktok',
				url: 'https://www.tiktok.com/@jinzojgaming?_t=8rUCha6U8gx&_r=1',
			},
			{
				icon: 'mdi:instagram',
				url: 'https://www.instagram.com/juanjo270997?igsh=MWd0aXp3Njg1bHl6dQ==',
			},
		],
	},
	{
		name: 'diegofcornejo',
		role: 'DevOps & SRE',
		picture: '/crew/diegofcornejo.webp',
		links: [
			{
				icon: 'mdi:web',
				url: 'https://diegocornejo.com',
			},
			{
				icon: 'mdi:github',
				url: 'https://github.com/diegofcornejo',
			},
		],
	},
];
---

<div class='flex flex-col items-center gap-8 py-16 bg-base-200 mt-8' id='section-crew'>
	<h1 class='font-bold text-3xl self-center'>{title}</h1>
	<div class='grid grid-cols-1 sm:grid-cols-3 gap-20'>
		{
			members.map((member) => (
				<div class='flex gap-4'>
					<img
						alt={member.name}
						src={member.picture}
						class='rounded-full w-24 aspect-square'
						loading='lazy'
						decoding='async'
						fetchpriority='low'
					/>
					<div class='flex flex-col gap-2'>
						<h3 class='font-bold'>{member.name}</h3>
						<span class='text-sm'>{member.role}</span>
						<div class='flex text-secondary text-xs'>
							{member?.links?.map((link) => (
								<a
									href={link.url}
									target='_blank'
									class='btn btn-ghost btn-sm btn-circle'
								>
									<Icon name={`${link.icon}`} class='text-xl' />
								</a>
							))}
						</div>
					</div>
				</div>
			))
		}
	</div>
</div>
