---
import { Icon } from 'astro-icon/components';
import type { CrewMember } from '@types';

const title = 'Meet the Crew';

const members: CrewMember[] = [
	{
		name: 'diangogav',
		role: 'Project Lead',
		picture: '/avatar.webp',
		links: {
			discord: '',
			github: 'https://github.com/diangogav',
			twitter: '',
			facebook: '',
		},
	},
	{
		name: 'leip1493',
		role: 'Developer',
		picture: '/avatar.webp',
		links: {
			discord: '',
			github: '',
			twitter: '',
			facebook: '',
		},
	},
	{
		name: 'termitaklk',
		role: 'Developer',
		picture: '/avatar.webp',
		links: {
			discord: '',
			github: '',
			twitter: '',
			facebook: '',
		},
	},
	{
		name: 'leandrogavidia',
		role: 'Designer',
		picture: '/avatar.webp',
		links: {
			discord: '',
			github: '',
			twitter: '',
			facebook: '',
		},
	},
	{
		name: 'darkjinzo',
		role: 'Community Manager',
		picture: '/avatar.webp',
		links: {
			discord: '',
			github: '',
			twitter: '',
			facebook: '',
		},
	},
	{
		name: 'diegofcornejo',
		role: 'DevOps & SRE',
		picture: '/crew/diegofcornejo.webp',
		links: {
			discord: '',
			github: 'https://github.com/diegofcornejo',
			twitter: '',
			facebook: '',
		},
	},
];
---

<div class='flex flex-col items-center gap-8 py-16 bg-base-200 mt-8' id='section-crew'>
	<h1 class='font-bold text-3xl self-center'>{title}</h1>
	<div class='grid grid-cols-1 sm:grid-cols-3 gap-20'>
		{
			members.map((member) => (
				<div class='flex gap-4'>
					<img alt={member.name} src={member.picture} class='rounded-full w-24 aspect-square' />
					<div class='flex flex-col gap-2'>
						<h3 class='font-bold'>{member.name}</h3>
						<span class='text-sm'>{member.role}</span>
						<div class='flex text-secondary text-xs'>
							{Object.entries(member.links).map(([key, value]) => (
								<a href={value} target='_blank' class='btn btn-ghost btn-sm btn-circle'>
									<Icon name={`mdi:${key}`} class='text-xl'/>
								</a>
							))}
						</div>
					</div>
				</div>
			))
		}
	</div>
</div>
