---
import { Icon } from 'astro-icon/components';
import type { GameClient } from '@types';

const title = 'Ready to duel?';
const subtitle = 'Just download a client';
const description = 'Evolution does not have its own client. We recommend downloading the official EDOPro client or any of the other clients listed below.';

const clients: GameClient[] = [
	{ name: 'YGO Mobile', link: 'https://ygom.top/', platforms: ['android'] },
	{
		name: 'EDOPro',
		link: 'https://projectignis.github.io/download.html',
		icon: { name: 'mdi:star', classes: 'text-warning text-xl' },
		platforms: ['windows', 'apple', 'linux', 'android'],
	},
	{
		name: 'MDPro3',
		link: 'https://discord.gg/C3bkVgfb',
		platforms: ['discord', 'windows', 'android'],
	},
	{ name: 'Koishi Pro', link: 'https://koishi.pro/download/', platforms: ['windows', 'apple'] },
];
---

<div class='py-24 bg-base-200 px-4' id='section-download'>
	<div class='flex flex-col gap-8 text-center place-items-center'>
		<h1
			class='text-3xl md:text-5xl md:leading-[3.5rem] font-bold pt-6 bg-gradient-to-r from-purple-500 via-blue-500 to-indigo-500 bg-clip-text text-transparent'
		>
			{title}<br />{subtitle}
		</h1>
		<h2 class='text-lg text-gray-400 leading-8 max-w-4xl'>{description}</h2>
	</div>

	<div class='flex flex-col md:flex-row gap-8 justify-center py-8'>
		{
			clients.map((client) => (
				<a
					href={client.link}
					target='_blank'
					class='btn btn-neutral btn-lg text-white hover:bg-secondary min-w-[200px] h-auto py-2'
				>
					<div class='flex flex-col gap-2'>
						<div class='flex flex-row gap-2 items-center'>
							{client.icon && (
								<Icon name={client.icon.name} class={client.icon.classes} />
							)}
							{client.name}
						</div>
						<div class='flex flex-row gap-2 justify-center'>
							{client.platforms.map((platform) => (
								<Icon name={`mdi:${platform}`} class='text-xl text-white' />
							))}
						</div>
					</div>
				</a>
			))
		}
	</div>
</div>
