---
import DuelistCard from '@components/Cards/DuelistCard.astro';
import Rating from '@components/Rating.astro';

const title = 'Top Players';
const description =
	'Explore the top players in our community. Discover who the standout competitors are in our tournaments and events. Get to know their achievements, strategies, and stay updated with the rankings.';

interface Duelist {
	userId: number;
	username: string;
	points: number;
	wins: number;
	losses: number;
	winRate: number;
	position: number;
}

const duelistResponse = await fetch(
	`${import.meta.env.PUBLIC_API_URL}/stats/?page=1&limit=10&banListName=Global`,
);

const duelistData = await duelistResponse.json();
const topDuelists = duelistData.slice(0, 3);
const duelists = duelistData.slice(3);

const rating = Math.floor(Math.random() * 5) + 1;
---

<div class='py-24' id='section-ranking'>
	<div class='flex flex-col gap-8 text-center place-items-center'>
		<h1 class='text-3xl md:text-5xl md:leading-[3.5rem] font-bold pt-6'>{title}</h1>
		<h2 class='text-lg text-gray-400 leading-8 max-w-4xl'>{description}</h2>
	</div>

	<ul
		role='list'
		class='grid grid-cols-1 md:grid-cols-3 gap-6 mt-8 p-0 place-items-center'
	>
		{topDuelists.map((duelist: Duelist) => <DuelistCard {...duelist} />)}
	</ul>
	<div class='overflow-x-auto mt-8 md:px-16'>
		<table class='table bg-base-300'>
			<thead>
				<tr>
					<th class="max-w-[50px] text-center">Position</th>
					<th class='min-w-[200px]'>Username</th>
					<th>Points</th>
					<th>Wins</th>
					<th>Losses</th>
					<th>Win Rate</th>
				</tr>
			</thead>
			<tbody>
				{
					duelists.map((duelist: Duelist) => (
						<tr class='hover:bg-secondary'>
							<th class="max-w-[50px] text-center">{duelist.position}</th>
							<td class='min-w-[200px]'>
								<a href={`/duelists/${duelist.userId}`}>
									<div class='flex items-center gap-3'>
										<img
											src={`https://ui-avatars.com/api/?name=${duelist.username}&background=random&size=128`}
											alt={duelist.username}
											class='w-12 h-12 rounded-full'
											transition:name={`img-duelist-${duelist.userId}`}
											transition:animate='none'
										/>
										<div>
											<div class='font-bold'>{duelist.username}</div>
											<Rating rating={rating} size='sm'/>
										</div>
									</div>
								</a>
							</td>
							<td class="font-bold">{duelist.points}</td>
							<td class="text-success">{duelist.wins}</td>
							<td class="text-error">{duelist.losses}</td>
							<td>{duelist.winRate.toFixed(2)}%</td>
						</tr>
					))
				}
			</tbody>
		</table>
	</div>
</div>
